.footer_about {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  padding-bottom: 20px;
}

.colors_and_sizes {
  display: flex;
  flex-direction: row;
}

.color_item {
  margin: 0 10px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.color_item:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.total_colors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.see_details {
  margin-top: 10px;
  border-bottom: 0.7px solid #959595;
  color: #959595;
}

.size_item {
  margin: 0 10px;
  padding: 10px 12px;
  border-radius: 50%;
  color: #959595;
  cursor: pointer;
}

.size_actived {
  background-color: #44ab7a;
  color: #fff;
}

.colors > * {
  font-family: "Roboto", sans-serif;
}
