.main_content {
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.title_product {
  font-size: 30px;
  font-weight: normal;
}

.toggle_display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.display_product:hover {
  cursor: move;
}

.price_sec {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.price_sec > * {
  font-family: "Roboto", sans-serif;
}

.ctr_price {
  text-decoration: line-through;
  color: #b0b0b0;
}

.price {
  font-size: 30px;
  font-weight: bold;
}

.add_cart_btn {
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: #ededed;
  color: #535353;
  font-size: 20px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.add_cart_btn:hover {
  background-color: rgb(219, 219, 219);
}

.arrow {
  margin: 0 30px;
}

.plus {
  margin-right: 10px;
}

.display_product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dp_none {
  display: none;
}

.one_more {
  animation: test 0.8s;
  color: #b0b0b0;
  position: absolute;
  top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1px;
}

@keyframes test {
  0% {
    font-size: 1px;
    transform: translateY(-30px);
  }
  50% {
    transform: rotate(-10deg);
    font-size: 50px;
  }
  80% {
    font-size: 50px;
    transform: rotate(10deg);
  }
  100% {
    font-size: 1px;
    transform: rotate(-5deg);
  }
}
